<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- navbar-fragment.html -->
<div th:fragment="navbar">
    <div class="nav-bar">
        <a th:href="@{/}" class="logo-link"><div class="logo">WorkKit</div></a>
        <div>
            <a th:href="@{/about-us}" class="nav-button">About us</a>
            <a th:href="@{/use}" class="nav-button">How to use</a>
            <a th:href="@{/log-in}" class="nav-button">Log in</a>
            <a th:href="@{/sign-in}" class="nav-button">Sign in</a>
            <a href="#" class="profile-icon">Profile Icon</a>
        </div>
    </div>
</div>

</body>
</html>